/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* =========================================
   FONTS 
   ========================================= */

@font-face {
    font-family: 'The Sans Bold Plain';
    src: url('../fonts/thesansboldplain-webfont.woff2') format('woff2'), url('../fonts/thesansboldplain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------
MALLORY FONTS (Mallory normal) - AM
--------------------------------------------------------------*/

@font-face {
    font-family: 'Mallory Thin';
    src: url('../fonts/MalloryWebFinal/mallory-thin-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Thin Italic';
    src: url('../fonts/MalloryWebFinal/mallory-thinitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Extra Light';
    src: url('../fonts/MalloryWebFinal/mallory-extralight-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Extra Light Italic';
    src: url('../fonts/MalloryWebFinal/mallory-extralightitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Light';
    src: url('../fonts/MalloryWebFinal/mallory-light-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Light Italic';
    src: url('../fonts/MalloryWebFinal/mallory-lightitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Book';
    src: url('../fonts/MalloryWebFinal/mallory-book-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Book Italic';
    src: url('../fonts/MalloryWebFinal/mallory-bookitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Medium';
    src: url('../fonts/MalloryWebFinal/mallory-medium-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Medium Italic';
    src: url('../fonts/MalloryWebFinal/mallory-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Bold';
    src: url('../fonts/MalloryWebFinal/mallory-bold-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Bold Italic';
    src: url('../fonts/MalloryWebFinal/mallory-bolditalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Black';
    src: url('../fonts/MalloryWebFinal/mallory-black-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Black Italic';
    src: url('../fonts/MalloryWebFinal/mallory-blackitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Ultra';
    src: url('../fonts/MalloryWebFinal/mallory-ultra-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Ultra Italic';
    src: url('../fonts/MalloryWebFinal/mallory-ultraitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-ultraitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------
MALLORY FONTS (Mallory microplus) - AM
--------------------------------------------------------------*/

@font-face {
    font-family: 'Mallory MP Light';
    src: url('../fonts/MalloryWebFinal/mallorymp-light-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Light Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-lightitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Book';
    src: url('../fonts/MalloryWebFinal/mallorymp-book-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Book Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-bookitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Medium';
    src: url('../fonts/MalloryWebFinal/mallorymp-medium-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Medium Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Bold';
    src: url('../fonts/MalloryWebFinal/mallorymp-bold-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Bold Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-bolditalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Black';
    src: url('../fonts/MalloryWebFinal/mallorymp-black-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Black Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-blackitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* -----------------------------------------------------------*/

body {
    padding-top: 0;
    font-family: "Mallory MP Light";
    font-weight: normal;
}

header {
    background-color: #dde6ee!important;
    margin-top: -50px;
    margin-bottom: -51px;
}

.navbar-toggle {
    margin-right: 5px;
}

nav.navbar {
    background-color: #708fb8;
    border-radius: 0!important;
    color: white;
    /*padding-left: 280px;*/
    margin-bottom: 0!important;
    border: none!important;
    min-height: 0;
}

.dropdown-toggle {
    -webkit-font-smoothing: antialiased;
    font-family: "The Sans Bold Plain";
    color: white;
    text-transform: uppercase;
}

.navbar-nav>li>a {
    padding: 0.2em 1em;
}

.dropdown a {
    color: white;
}

.nav .open>a {
    background-color: orange!important;
    /*background-color: #708fb8!important;*/
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: red;
}

.dropdown-menu {
    border-top: none;
    border-left: 5px #708fb8 solid;
    border-right: none;
    border-bottom: none;
    background-color: #dde6ee;
}

.toro {
    position: relative;
    z-index: 10;
}

.spacer {
    width: 250px;
    height: 1px;
}

.btn-peabody {
    background-image: -webkit-linear-gradient(top, #dde6ee 0, #708fb8 100%);
    background-image: -o-linear-gradient(top, #dde6ee 0, #708fb8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dde6ee), to(#708fb8));
    background-image: linear-gradient(to bottom, #dde6ee 0, #708fb8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdde6ee', endColorstr='#ff708fb8', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #708fb8;
    color: rgb(51, 51, 51);
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    font-family: "Mallory Bold";
    text-transform: uppercase;
    cursor: pointer;
}

.btn-peabody:hover,
.btn-peabody:focus,
.btn-peabody.focus,
.btn-peabody:active,
.btn-peabody.active,
.open>.dropdown-toggle.btn-peabody {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #708fb8 0, #01356b 100%);
    background-image: -o-linear-gradient(top, #708fb8 0, #01356b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dde6ee), to(#01356b));
    background-image: linear-gradient(to bottom, #708fb8 0, #01356b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff708fb8', endColorstr='#ff01356b', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #01356b;
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    cursor: pointer;
}