/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* =========================================
   FONTS 
   ========================================= */

@font-face {
    font-family: 'The Sans Bold Plain';
    src: url('../fonts/thesansboldplain-webfont.woff2') format('woff2'), url('../fonts/thesansboldplain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------
MALLORY FONTS (Mallory normal) - AM
--------------------------------------------------------------*/

@font-face {
    font-family: 'Mallory Thin';
    src: url('../fonts/MalloryWebFinal/mallory-thin-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Thin Italic';
    src: url('../fonts/MalloryWebFinal/mallory-thinitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Extra Light';
    src: url('../fonts/MalloryWebFinal/mallory-extralight-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Extra Light Italic';
    src: url('../fonts/MalloryWebFinal/mallory-extralightitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Light';
    src: url('../fonts/MalloryWebFinal/mallory-light-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Light Italic';
    src: url('../fonts/MalloryWebFinal/mallory-lightitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Book';
    src: url('../fonts/MalloryWebFinal/mallory-book-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Book Italic';
    src: url('../fonts/MalloryWebFinal/mallory-bookitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Medium';
    src: url('../fonts/MalloryWebFinal/mallory-medium-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Medium Italic';
    src: url('../fonts/MalloryWebFinal/mallory-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Bold';
    src: url('../fonts/MalloryWebFinal/mallory-bold-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Bold Italic';
    src: url('../fonts/MalloryWebFinal/mallory-bolditalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Black';
    src: url('../fonts/MalloryWebFinal/mallory-black-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Black Italic';
    src: url('../fonts/MalloryWebFinal/mallory-blackitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Ultra';
    src: url('../fonts/MalloryWebFinal/mallory-ultra-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-ultra-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory Ultra Italic';
    src: url('../fonts/MalloryWebFinal/mallory-ultraitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallory-ultraitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*--------------------------------------------------------------
MALLORY FONTS (Mallory microplus) - AM
--------------------------------------------------------------*/

@font-face {
    font-family: 'Mallory MP Light';
    src: url('../fonts/MalloryWebFinal/mallorymp-light-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Light Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-lightitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Book';
    src: url('../fonts/MalloryWebFinal/mallorymp-book-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Book Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-bookitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Medium';
    src: url('../fonts/MalloryWebFinal/mallorymp-medium-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Medium Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-mediumitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Bold';
    src: url('../fonts/MalloryWebFinal/mallorymp-bold-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Bold Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-bolditalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Black';
    src: url('../fonts/MalloryWebFinal/mallorymp-black-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mallory MP Black Italic';
    src: url('../fonts/MalloryWebFinal/mallorymp-blackitalic-webfont.woff2') format('woff2'), url('../fonts/MalloryWebFinal/mallorymp-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* -----------------------------------------------------------*/

body {
    padding-top: 0;
    font-family: "Mallory MP Light";
    font-weight: normal;
}

header {
    background-color: #dde6ee!important;
    margin-top: -50px;
    margin-bottom: -51px;
}

.footer-item {
    font-size: 11px;
    float: left;
}

.footer-logo {
    margin-right: 30px;
}

.footer-text {
    margin-left: 30px;
    padding-top: 0.5em;
}

.navbar-toggle {
    margin-right: 5px;
}

nav.navbar {
    background-color: #708fb8;
    border-radius: 0!important;
    color: white;
    /*padding-left: 280px;*/
    margin-bottom: 0!important;
    border: none!important;
    min-height: 0;
}

.navbar-right {
    position: relative;
    z-index: 500;
}

.dropdown-toggle {
    -webkit-font-smoothing: antialiased;
    font-family: "The Sans Bold Plain";
    color: white;
    text-transform: uppercase;
}

.navbar-nav>li>a {
    padding: 0.2em 1em;
}

.dropdown a {
    color: white;
}

.nav .open>a {
    background-color: #dde6ee!important;
    color: black!important;
    /*background-color: #708fb8!important;*/
    border-right: 5px #708fb8 solid!important;
}

.nav>li>a:hover,
.nav>li>a:focus {
    /*background-color: red;*/
    background: none;
    color: black;
    cursor: pointer!important;
}

.dropdown-menu {
    border-top: none;
    border-right: 5px #708fb8 solid!important;
    border-right: none;
    border-bottom: none;
    background-color: #dde6ee;
    cursor: pointer!important;
    padding-top: 0;
    padding-bottom: 0;
}

.dropdown-menu li {
    font-size: 12px;
    cursor: pointer!important;
    text-align: right;
}

.dropdown-menu li a {
    font-family: "Mallory MP Light"!important;
    cursor: pointer!important;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #708fb8!important;
    color: white!important;
    background-image: none!important;
    filter: none;
}

.wordmark {
    z-index: 11;
    position: relative;
    float: right;
    width: 60%;
    top: 85px;
    margin-right: 10px;
}

.toro {
    position: relative;
    z-index: 10;
}

.spacer {
    width: 250px;
    height: 1px;
}

.btn-peabody {
    background-image: -webkit-linear-gradient(top, #708fb8 0, #01356b 100%);
    background-image: -o-linear-gradient(top, #708fb8 0, #01356b 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dde6ee), to(#01356b));
    background-image: linear-gradient(to bottom, #708fb8 0, #01356b 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff708fb8', endColorstr='#ff01356b', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #708fb8;
    color: white;
    /*color: rgb(51, 51, 51);*/
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s background-image ease-in;
    font-family: "Mallory Bold";
    text-transform: uppercase;
    cursor: pointer;
}

.btn-peabody:hover,
.btn-peabody:focus,
.btn-peabody.focus,
.btn-peabody:active,
.btn-peabody.active,
.open>.dropdown-toggle.btn-peabody {
    color: #fff;
    background-image: -webkit-linear-gradient(top, #dde6ee 0, #708fb8 100%);
    background-image: -o-linear-gradient(top, #dde6ee 0, #708fb8 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#dde6ee), to(#708fb8));
    background-image: linear-gradient(to bottom, #dde6ee 0, #708fb8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdde6ee', endColorstr='#ff708fb8', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #01356b;
    -webkit-transition: 0.2s all ease-in;
    transition: 0.2s all ease-in;
    cursor: pointer;
}

.box {
    margin: 1em;
    border-top: #708fb8 8px solid;
    border-left: #708fb8 1px solid;
    border-right: #708fb8 1px solid;
    border-bottom: #708fb8 1px solid;
    /*padding: 1em;*/
}

.box p {
    text-align: justify;
}

.box h2 {
    margin: 0 0 0.5em 0;
}

.box-with-header {
    border: #708fb8 1px solid;
    padding: 0 0 1em 0;
    margin: 1em;
}

.box-with-header p {
    padding: 1em;
    text-align: justify;
}

.box-with-header h2.box-header {
    width: 100%;
    background-color: #708fb8;
    padding: 0.25em 0.5em;
    margin: 0;
    color: white;
}

.box-with-footer {
    border: #708fb8 1px solid;
    padding: 0 0 1em 0;
    margin: 1em;
}

.box-with-footer p {
    padding: 1em;
    text-align: justify;
}

.box-with-footer h2.box-footer {
    width: 100%;
    background-color: #708fb8;
    padding: 0.25em 0.5em;
    margin: 0;
    color: white;
}

.button-row {
    text-align: center;
    padding-top: 1.5em;
}

.carousel-inner {
    width: 100%;
    max-height: 400px !important;
}

.main-slider {
    background: white;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#mainHeader {
    text-align: center;
}

#explore {
    margin-top: 2em;
}

.mediumTitle {
    text-align: center;
    margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "Mallory Bold";
    text-transform: uppercase;
}

.jumbotron h1 {
    font-size: 48px;
}


/*h1 {
    margin-top: 36px;
    margin-bottom: 36px;
}*/

#masthead {
    /*background: #dde6ee;*/
    background: white;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

#masthead2 {
    /*background: #eeeeee;*/
    background: #dde6ee;
}

.jumbotron p {
    font-size: 18px;
}

.jumbotron-paragraph {
    text-align: center;
    line-height: 1.6em;
    margin: 1em 0;
}

.alert {
    margin-right: 10%;
    margin-left: 10%;
}

.alert h1,
.alert h2,
.alert h3 {
    /*border-right: 1px solid rgb(102, 81, 44);*/
    display: inline-block;
    margin: 0;
    /*padding-right: 1em;*/
    margin-right: 0.5em;
}

.alert span {
    display: inline-block;
    font-size: 14px;
}


/*.carousel-ui {
    visibility: hidden;
    opacity: 0;
}*/

.hours-day {
    display: inline-block;
    width: 12em;
    text-align: right;
    margin-right: 2em;
}

.hours-time-closed {
    font-weight: 700;
    font-family: "Mallory MP Book";
}

.inline-time {
    text-align: left;
    min-width: 12em;
}

.box-item {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    transform-style: preserve-3d;
    transition: transform 1s;
    padding: 0;
    height: 300px;
    min-height: 300px;
    margin-left: -5px;
}

.box-item:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.box-item figure {
    margin: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    padding: 1em;
}

.box-item.box-with-header figure {
    padding: 0;
}

.box-item .front {
    /*background-color: white;*/
}

.box-item .back {
    transform: rotateY(180deg) translateY(-300px);
}

.box-item.flipped {
    transform: rotateY( 180deg);
}

.card-container {
    perspective: 800px;
    position: relative;
}

.back {
    border-top: #708fb8 8px solid;
}

.diagonal-back {
    background-size: cover;
    background-image: url('../img/cards/diagonal_blue_2.png');
    background-position: center;
}

.back-top {
    width: 100%;
    height: 50%;
}

.back-bottom {
    width: 100%;
    height: 50%;
}

.back-right {
    text-align: right;
}

.back-left {
    text-align: left;
}

.photo-front {
    background-size: cover;
}

figure.photo-front h2 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
}

.box-with-header .box-date {
    position: relative;
    top: 220px;
}

.box .box-date-right {
    margin-right: -1em;
}

.box-with-header .box-date-right {
    margin-right: 0;
}

.box .box-date {
    position: relative;
    top: 210px;
}

.box-date-right {
    right: 10px;
    text-align: right;
}

.box-date-left {
    left: 10px;
    text-align: left;
}

.box-date-photo {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
    color: white;
}

ul.social-icons {
    float: right;
    padding-top: 2em;
    list-style: none;
}

ul.social-icons li {
    display: inline-block;
    margin-right: 0.5em;
    background: #333;
    color: white;
    font-size: 24px;
    height: 48px;
    line-height: 48px;
    width: 48px;
    vertical-align: middle;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
    min-height: 1.8em;
    min-width: 1.8em;
    text-align: center;
}

ul.social-icons li a {
    color: white!important;
}

ul.social-icons li:hover {
    border-radius: 50%;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-youtube:hover {
    background: #e62117;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-facebook:hover {
    background: #3b5998;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-twitter:hover {
    background: #00b0ed;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

li.social-icon-instagram:hover {
    background: #bc2a8d;
    -webkit-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

a {
    font-family: "Mallory MP Bold";
}


/* ================================================== */


/* ================================================== */


/* ================================================== */


/* ================================================== */


/* ================================================== */


/* ================================================== */

@media only screen and (max-width: 1040px) {
    .wordmark {
        width: 50%;
        top: 65px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 639px) {
    header {
        margin-top: 0;
        margin-bottom: 0;
        padding: 1em;
    }
    .wordmark {
        margin: 0;
        width: 100%;
        height: auto;
        top: 0;
    }
}

@media only screen and (min-width: 740px) {
    .navbar-right {
        margin-left: -200px;
    }
}

@media only screen and (max-width: 740px) {
    .dropdown-menu li {
        text-align: left;
    }
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        background-color: #dde6ee!important;
        color: black!important;
        background-image: none!important;
        filter: none;
    }
}

@media only screen and (max-width: 768px) {
    #evolving_text {
        text-align: center;
    }
}